.elementor-4170 .elementor-element.elementor-element-52a7bae {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-4170 .elementor-element.elementor-element-932edf7 {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-4170 .elementor-element.elementor-element-45481a0 {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 120px;
  --padding-bottom: 120px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-4170 .elementor-element.elementor-element-3a9720f .title {
  color: #ffffff;
}
.elementor-4170 .elementor-element.elementor-element-354b7f2 {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-4170 .elementor-element.elementor-element-d4bbbbf .title {
  color: #ffffff;
}
.elementor-4170 .elementor-element.elementor-element-8d124dc {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 120px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-4170 .elementor-element.elementor-element-75db5ca .title {
  color: #ffffff;
}
.elementor-4170 .elementor-element.elementor-element-75db5ca .title2 {
  color: #ffffff;
}
.elementor-4170 .elementor-element.elementor-element-75db5ca .desc2 {
  color: #ffffff;
}
.elementor-4170 .elementor-element.elementor-element-5039311 {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 120px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-4170 .elementor-element.elementor-element-7a74337 .title {
  color: #ffffff;
}
.elementor-4170 .elementor-element.elementor-element-7a74337 .title3 {
  color: #ffffff;
}
.elementor-4170 .elementor-element.elementor-element-7a74337 .form-title {
  color: #ffffff;
}
.elementor-4170 .elementor-element.elementor-element-3e9261f {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-4170 .elementor-element.elementor-element-5a1770e .title {
  color: #ffffff;
}
@media (max-width: 1024px) {
  .elementor-4170 .elementor-element.elementor-element-45481a0 {
    --padding-top: 80px;
    --padding-bottom: 80px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-4170 .elementor-element.elementor-element-8d124dc {
    --padding-top: 80px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-4170 .elementor-element.elementor-element-5039311 {
    --padding-top: 80px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
}
